.story {
  background-color: #FFFFFF;
}

.story a {
  text-decoration: none;
}

.story-title {
  font-size: 20px;
  padding: 14px;
}

.story-content {
  padding: 14px;
  font-size: 1.2em;
  line-height: 22px;
  text-align: justify;
}

.story-footer {
  padding: 14px;
}
